{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "no-plusplus": 0,
        "comma-dangle": ["error", {"functions": "never"}],
        "react/no-multi-comp": 0,
        "react/destructuring-assignment": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "class-methods-use-this": 0,
        "jsx-a11y/anchor-is-valid": 0
    }, 
    "env": {
        "browser": true
    }
}