@import '../../../../assets/style/colors';

.navigation {
  display: flex;
  overflow: hidden;
  &--horizontal {
    flex-direction: column;
    .navigation__item {
      display: block;
    }
  };
  &__item {
    outline: none;
  }
  &__item--active {
    background-color: $hoverColor;
    outline: none;
  }
}