@import './colors.scss';
  
* {
  box-sizing: border-box;
}
  
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: $bg;
  &.read-mode {
    background-color: $bgRead;
  }
}

input {
  font-weight: inherit;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.clearfix {
    zoom: 1;
    &::after, &::before {
      display: block;
      clear: both; 
      content: "\a0 "; 
      visibility: hidden; 
      height: 0;
    }
}


