@import '../../../assets/style/constants.scss';
@import '../../../assets/style/colors.scss';

$cardMargin: 15px; 
$minHeightPad: 30px;

.catalog {
    display: flex;
    margin-top: 20px; 
    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        margin-top: -$cardMargin;
        margin-left: $filterWidth;
        padding: 0 calc(30px - #{$cardMargin});
    }
    &-item {
        display: flex;
        width: calc(50% - #{$cardMargin});
        height: 265px;
        min-width: 450px;
        margin: $cardMargin 0 0 $cardMargin;
        line-height: 1.2;
        &__social:not(:last-child) {
            margin-right: 15px;
        }
        &__preview {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 175px;
            & span, & img {
                height: 100%;
                width: 100%;
            }
        }
        &__title {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: auto !important;
            min-height: $minHeightPad;
            padding: 7px 20px;
            text-align: center;
            font-weight: 100;
            font-size: 14px;
            background-color: rgba(31, 38, 49, 0.8);
            color: #ffffff;
        }
        &__content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        &__header, &__footer {
            flex-shrink: 0;
            min-height: $minHeightPad;
            padding: 7px 20px;
            background-color: $padColor;
            text-align: center;
            font-size: 14px;
        }
        &__header {
            color: $textColor;
        }
        &__main {
            flex-shrink: 1;
            flex-grow: 1;
            padding: 10px 20px;
            font-size: 14px;
            color: $textColor;
            overflow: hidden;
        }
        &__footer {
            color: $darkenTextColor;
        }
    }
}

@media screen and (max-width: 1220px) {
    .catalog {
        &__list {
            padding: 30px;
            flex-direction: column;
        }
        &-item {
            width: 100%;
            min-width: 0;
            margin: $cardMargin 0 0 0;
        }
    }
}