@import '../../../assets/style/colors.scss';

$arrowSize: 100px;
$pagesSize: 40px;

.reader {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100vh;
    &__side {
        flex-grow: 1;
        &:hover .reader__arrow {
            opacity: 1;
        }
    }
    &__arrow {
        position: fixed;
        top: 50%;
        height: $arrowSize;
        width: $arrowSize;
        background-color: $readArrow;
        background-image: url('../../../assets/img/arrow.svg');
        background-size: $arrowSize / 2;
        background-position: center 62%;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.4s;
        cursor: pointer;
        &--left {
            left: 0;
            transform: translateY(-50%) rotate(90deg);
        }
        &--right {
            right: 0;
            transform: translateY(-50%) rotate(-90deg);
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        max-width: calc(100% - #{$arrowSize * 2});
        text-align: center;
    }
    &__image {
        align-self: center;
        height: calc(100% - #{$pagesSize});
        width: auto;
        max-width: 100%;
        &--error {
            object-fit: contain;
            width: 50%;
        }
    }
    &__pages {
        height: $pagesSize;
    }
}