.progress-bar {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 300px;
  user-select: none;
  &__rect {
    transition: width 0.2s;
  }
  &__button {
    fill: #ffffff;
    cursor: pointer;
    transition: fill .2s;
    &:hover {
      fill: #ece8f5;
    }
  }
  &__plus {
    pointer-events: none;
  }
}
