.site-header {
  box-sizing: content-box;
  position: fixed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #d4d9e3;
  background-color: #ffffff; }
  .site-header__logo {
    width: 220px;
    margin-right: 25px;
    line-height: 55px; }
    .site-header__logo a {
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 50px;
      background-image: url("../../../assets/img/logo.svg");
      background-repeat: no-repeat;
      background-position: 0 center;
      background-size: 40px;
      font-size: 28px;
      font-weight: 100;
      text-transform: uppercase; }
  .site-header__container {
    display: flex;
    height: 100%; }
  .site-header__input {
    margin-right: auto; }
    .site-header__input input {
      height: 100%;
      padding: 0 20px 0 40px;
      background-image: url("../icons/search.svg");
      background-repeat: no-repeat;
      background-position: 10px center;
      font-size: 18px;
      transition: background-color 0.1s ease-in-out; }
      .site-header__input input:focus {
        background-color: #f3f4f8; }
