@import '../../../../../assets/style/colors';

.post-card {
    position: relative;
    padding: 30px;
    border-radius: 3px;

    &__title {
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 24px;
        color: $textColor;
    }
    &__link {
        color: $textColor;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: $darkenTextColor;
        }
    }
    &__description {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 2;
        color: $textColor;
    }
    &__bottom,
    &__author  {
        display: flex;
        justify-content: space-between;
    }
    &__author  {
        padding-right: 20px;
    }
    &__author-avatar {
        display: block;
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid $borderColor;
    }
    &__author-info {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    &__name {
        padding-right: 40px;
        margin-right: 40px;
        border-right: 1px solid $borderColor;
    }
    &__name, 
    &__reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-description {
            display: block;
            margin-top: 5px;
            font-size: 12px;
            opacity: 0.5;
        }
        &-title {
            color: $textColor;
            font-size: 18px;
            font-weight: 600;
        }
    }
    &__read-button {
        align-self: center;
        padding: 10px 40px;
        border: 1px solid $borderColor;
        color: $textColor;
        font-weight: 100;
        transition: background-color 0.2s ease-in-out;
        &:hover {
            background-color: $hoverColor;
        }
    }
    &:nth-child(2n - 1) &__read-button {
        &:hover {
            background-color: #ffffff;
        }
    }
    &:nth-child(2n - 1) {
        background-color: $hoverColor;
    }
}