$bg: #f6f7fa;
$bgRead: #212121;
$headerBg: #6646a2;
$headerBgLight: lighten($headerBg, 1%);
$lightColor: lighten($headerBg, 48%);
$readArrow: darken($bgRead, 5%);
$readPageColor: #d0d0d0;
$searchFocus: darken($bg, 1%);
$textColor: #727886;
$darkenTextColor: darken($textColor, 10%);
$borderColor: #d4d9e3;
$shadowColor: #b1b1b1;
$shadowColorLight: lighten($shadowColor, 15%);
$borderColorLight: lighten($borderColor, 5%);
$hoverColor: $lightColor;
$focusColor: #0078c1;
$padColor: $lightColor;
$blueColor: #3db4f2;
$redColor: #d4576e;