@import './colors.scss';
  
* {
  box-sizing: border-box;
}
  
body {
  color: $textColor;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: $bg;
  &.read-mode {
    background-color: $bgRead;
  }
}

img {
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: inherit;
  cursor: pointer;
}

input {
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix {
    zoom: 1;
    &::after, &::before {
      display: block;
      clear: both; 
      content: "\a0 "; 
      visibility: hidden; 
      height: 0;
    }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.hide-text {
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}