$headerHeight: 56px;
$filterWidth: 200px;
$ContentPaddingTop: 25px;
$MangaHeaderImageWidth: 190px;
$MangaHeaderImageHeight: 290px;
$ProfileSideContentWidth: 190px;
$ProfileHeaderImageHeight: $ProfileSideContentWidth;
$ProfileHeaderImageWidth: $ProfileSideContentWidth;
$ProfileHeaderOffsetTop: -150px;
$BookmarksMarginBottom: 18px;